{% extends 'pagina_base/base.html' %}
{% load static %}
{% block titulo %}Lista de Depósitos {% endblock titulo %}
{% block contenido %}
<div class="container mt-4 bg-white text-white p-4 rounded">
    <h1>Lista de Depósitos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Código depósito</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for deposito in depositos %}
            <tr>
                <td>{{ deposito.id_deposito }}</td>
                <td>{{ deposito.descripcion }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'eliminacion_deposito' deposito.id_deposito %}">
                        Eliminar
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'modificaciones_deposito' deposito.id_deposito %}">
                        Modificar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'alta_deposito' %}">Agregar Depósito</a>
</div>
{% endblock contenido %}
