{% extends 'pagina_base/base.html' %}
{% load static %}

{% block titulo %}Página de Inicio{% endblock titulo %}

{% block contenido %}
  <div class="bg-dark text-white p-5 rounded">
    <div class="container">
      <h1 class="display-4">Ingreso al Portal</h1>
      <p class="lead mb-4">Este es el sistema de administración de Stock de farmacia</p>

      <div class="card text-dark shadow-sm">
        <div class="card-body">
          <form method="post" action="{% url 'login_portal' %}">
            {% csrf_token %}

            {% if error %}
              <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}

            <div class="mb-3">
              <label class="form-label">Nombre y Apellido</label>
              <input class="form-control" name="nombre_apellido" required>
            </div>

            <div class="mb-3">
              <label class="form-label">DNI</label>
              <input class="form-control" name="dni" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Cargo</label>
              <input class="form-control" name="cargo" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" name="password" required>
              <div class="form-text">Contraseña fija por defecto: <b>admin123</b></div>
            </div>


            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Imagen destacada -->
  <div class="text-center mt-4">
    <img src="{% static 'frenteHospi.jpg' %}" 
         alt="Hospital" 
         class="img-fluid rounded shadow-lg img-transicion" 
         style="max-width: 250px; transition: transform 0.5s;">
  </div>
{% endblock contenido %}
